#admin_menu{
	width:19%;
	/*height:100%;*/
	background-color:#EDEFCA;
	border:1px solid #D7DD91;
	float:left;
	margin-right:1%;
	display:inline;
	font-size:0.8em;
	min-height:100%;
}

* html #admin_menu{
	height:100%;
}


#admin_menu h4{
	color:#E6E4AB;
	background:url('../images/h4_back.jpg');
	margin:0;
	padding-left:12px;
	padding-top:2px;
	padding-bottom:2px;
}

#admin_menu ul{
	list-style:none;
	margin:0;
	padding:2px;
	
}
#admin_menu ul li{
	padding:2px;
}

#admin_menu a{
	text-decoration:none;
	font-weight:bold;
}

#admin_page{
	float:left;
	width:79%;
}

#admin_header{
	width:100%;
	display:block;
	height:25px;
	background:url('../images/dept_bar_back_blank.jpg');
	text-transform: uppercase;
	padding-top:5px;
}

#admin_header a{
	color:#ffffff;
	font-size:0.9em;
	font-weight:bold;
	text-decoration:none;
}

#admin_header h2{
	font-weight:bold;
}

table{
	width:100%;
	text-align:left;
}

table th{
	background-color:#89950F;
	font-size: 12px;
}

td {
	font-size: 12px;
}

p {
	font-size: 12px;
}

.odd{
	background-color:#EDEFCA;
}
.even{
	background-color:#EAE4A8;
}

#order_details{
	relative;font-size:62.5%
}

#status_bar{
	width:100%;
	display:block;
	border:1px solid black;
	height:20px;
	margin-bottom:10px;
	background-color:#89950F;
	font-weight:bold;
}

#update_bar{
	font-size:1.7em;	
	padding-bottom:5px;
	width:100%;
	height:30px;
	display:block;
	clear:both;
}

#update_bar a{
	background-color:#89950F;
	/*height:25px;*/
	border:1px solid black;
	text-decoration:none;
	padding:2px;
	color:white;
	float:left;
}

#update_bar a:hover{
	color:#EAE4A8;
}


